Time to pick a book to review. Click any link to start a new cycle.

Pick the next book to review:
{% for b in books %}
- {{ b.title }} -- {{ b.author or "" }} ({{ b.num_highlights }} highlights)
  https://github.com/{{ repo }}/issues/new?title={{ ('select-book: ' ~ b.id) | urlencode }}
{% endfor %}
